<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <% unless @user.picture_url.nil? %>
      <%= image_tag(@user.picture_url(:thumbnail)) %><br/>
    <% end %>

    <%= f.hidden_field(:picture_cache) %>
    <%= f.file_field(:picture) %>
    <label>
      <%= f.check_box :remove_picture %>
      Remove avatar
    </label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
