<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if signed_in? %>
 <%= render 'follow_form' %>
<% end %>

<p>
  <%= pluralize(@user.micro_posts.length, "MicroPost") %>
</p>


<%= image_tag(@user.picture_url(:thumbnail)) %>

<%= will_paginate @micro_posts %>

<%= render @micro_posts %>

<%= will_paginate @micro_posts %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
